<footer class="container-fluid py-4">
    <div class="container-lg">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-12 text-start">
          <h1>Maison Du Silence</h1>
        </div>

        <div class="col-lg-3 col-md-6 col-12 text-end">
          <h3 class="titulos">Dónde Estamos</h3>
          <ul class="list-unstyled">
            <li>Crtra. Guadalest-Alcoy, nº10</li>
            <li>03516 Benimantell</li>
            <li>Alicante, España</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-12 text-end">
          <h3 class="titulos">Conecta</h3>
          <ul class="list-unstyled">
            <li>Cómo llegar</li>
            <li>96 543 00 58</li>
            <li>info@maisondusilence.com</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-12">
          <h3 class="titulos">Síguenos</h3>
          <a href="#">
            <img src="../images/instagram.jpg" alt="Icono Instagram" height="40" width="40">
          </a>
          <a href="#">
            <img src="../images/linkedin.jpg" alt="Icono LinkedIn" height="40" width="40">
          </a>
        </div>

      </div>
    </div>
  </footer>